__pycache__/
.idea/
.ipynb_checkpoints/
csv/*
!csv/.gitkeep
evaluation/*
!evaluation/.gitkeep
graphs/*
!graphs/.gitkeep
ngrams/*
!ngrams/.gitkeep
parsing_result/
!parsing_result/.gitkeep
*.zip
todo
*.ipynb
test.py